@{
  ViewData["Title"] = "Create User";
}

@model MessageBoard.Models.Users

<h1>Add a new user!</h1>

@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", style = "text-align: center;"})
  <input type="submit" value="Add!" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to all users!", "Index")</p>