@{
  ViewData["Title"] = "Users";
}
<div style="text-align: center; padding-top: 20px;">
  <h1>@Model.Name!</h1>

  <p >@Html.ActionLink("Edit details", "Edit", new { id = @Model.UsersId })</p>
  <a href="/users/@Model.UsersId/posts/edit">Edit posts</a>
</div>