@{
  ViewData["Title"] = "Create Thread";
}

@model MessageBoard.Models.Threads

<h1>Add a new thread!</h1><br>

@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.Title, new { placeholder = "Title", style = "text-align: center;"})<br><br>
  <input type="submit" value="Add!" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to all threads!", "Index")</p>