@{
  ViewData["Title"] = "Threads";
}
<h1>All Threads:</h1><br>

<ul>
  @foreach (Threads thread in Model)
  {
    @foreach (Users user in ViewBag.users)
  {
    @if(thread.UsersId == user.UsersId) {
    <li><strong>@user.Name</strong> | <a href="/Threads/Details/@(thread.ThreadsId)"><strong>@thread.Title</strong></a></li>
    }
  }
  }
</ul>


<a href="/threads/create">Add a new thread!</a>