@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to the message board!</h1>
  <p>See all <a href="/users">users!</a></p>
  <p>See all <a href="/threads">threads!</a></p>
</div>